tbody tr{
    font-size: 13px;
}
table.dataTable tbody td {
    padding: 6px 10px;
}
table.dataTable thead th{
    padding: 6px 10px;
}

ul.ui-autocomplete {
    z-index: 1100;
}

.icn:hover{
    opacity: 0.5;
}

#init-table_processing{
    background-color: transparent;
    border: none;
}

.dataTables_processing{
    background-color: transparent;
    box-shadow: none;
}

::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #7F16A7;
}

@media only screen and (max-width: 1080px) {
    #container {
        margin-top: 45px;
    }

    .card-custom{
        margin-top: 35px;
    }
}

#card-body-custom{
    margin-top: -25px;
}

.wait-cursor{
    cursor: wait;
}

#loading {
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

.my-spinner-loading {
    padding-top: 10px;
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 3px solid #edc0ff;
    border-radius: 50%;
    border-top-color: #7F16A7;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}

.icn:hover{
    opacity: 0.5;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.ui-autocomplete > li > div {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
    cursor: pointer;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
