tbody tr{
    font-size: 13px;
}
table.dataTable tbody td {
    padding: 6px 10px;
}
table.dataTable thead th{
    padding: 6px 10px;
}

ul.ui-autocomplete {
    z-index: 1100;
}

.icn:hover{
    opacity: 0.5;
}

#init-table_processing{
    background-color: transparent;
    border: none;
}

.dataTables_processing{
    background-color: transparent;
    box-shadow: none;
}

::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #7F16A7;
}

@media only screen and (max-width: 1080px) {
    #container {
        margin-top: 45px;
    }

    .card-custom{
        margin-top: 35px;
    }
}

#card-body-custom{
    margin-top: -25px;
}

.wait-cursor{
    cursor: wait;
}

#loading {
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

.my-spinner-loading {
    padding-top: 10px;
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 3px solid #edc0ff;
    border-radius: 50%;
    border-top-color: #7F16A7;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}

.icn:hover{
    opacity: 0.5;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.ui-autocomplete > li > div {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
    cursor: pointer;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.image-input {
    position: relative;
    display: inline-block;
    border-radius: 0.675rem;
    background-repeat: no-repeat;
    background-size: cover; }
    .image-input .image-input-wrapper {
      width: 200px;
      height: 200px;
      border-radius: 0.675rem;
      background-repeat: no-repeat;
      background-size: cover; }
    .image-input [data-action="change"] {
      cursor: pointer;
      position: absolute;
      right: -10px;
      top: 185px; }
      .image-input [data-action="change"] input {
        width: 0 !important;
        height: 0 !important;
        overflow: hidden;
        opacity: 0; }
    .image-input [data-action="cancel"],
    .image-input [data-action="remove"] {
      position: absolute;
      right: -10px;
      bottom: -5px; }
    .image-input [data-action="cancel"] {
      display: none; }
    .image-input.image-input-changed [data-action="cancel"] {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .image-input.image-input-changed [data-action="remove"] {
      display: none; }
    .image-input.image-input-empty [data-action="remove"],
    .image-input.image-input-empty [data-action="cancel"] {
      display: none; }
    .image-input.image-input-circle {
      border-radius: 50%; }
      .image-input.image-input-circle .image-input-wrapper {
        border-radius: 50%; }
      .image-input.image-input-circle [data-action="change"] {
        right: 5px;
        top: 5px; }
      .image-input.image-input-circle [data-action="cancel"],
      .image-input.image-input-circle [data-action="remove"] {
        right: 5px;
        bottom: 5px; }
    .image-input.image-input-outline .image-input-wrapper {
      border: 3px solid #ffffff;
      -webkit-box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075);
      box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075); }

.class-category-filter__wrapper {
    border-radius: 8px;
    z-index: 1;
    overflow: hidden;
    border: 3px solid transparent;
    cursor: pointer;
    position: relative;
}
.class-category-selected {
    border: 3px solid #C41CD4;;
}
.class-category-selected .class-category-filter-overlay {
        background-color: #0000001e !important;
        color: #ffffff;
        font-weight: 500;
        font-size: 20px;
        transition: 0.3s;
}
.class-category-filter__wrapper .class-category-filter-overlay {
    width: 100%;
    height: 100%;
    background-color: #00000069;
    position: absolute;
    top: 0;
    color: #ffffff;
    transition: 0.3s;
}

.class-category-filter__wrapper img {
    min-width: 100%;
    height: 82px;
    object-fit: cover;
}

.class-category-filter__wrapper iframe {
    z-index: -1;
}

.row-center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.class-owned__wrapper {
    border-radius: 12px;
    background-color: white;
    color: #ffffff;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.01), 0px 16px 24px rgba(0, 0, 0, 0.01), 0px 4px 8px rgba(0, 0, 0, 0.01), 0px 0px 1px rgba(0, 0, 0, 0.01);
}

.class-owned__wrapper .overlay {
    width: 100%;
    height: 120px;
    position: absolute;
    top: -120px;
    left: 0;
    background: #ffffff;
    z-index: 1;
}

.class-owned__wrapper .see-all {
    position: absolute;
    top: 80px;
    right: -12px;
    background: #7F16A7;
    z-index: 2;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}

@media (min-width: 992px) {
    .class-owned__wrapper .see-all {
        top: 105px;
    }
 }

.class-owned__wrapper .class-owned-selected {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    width: 100%;
    height: 110px;
    object-fit: cover;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    z-index: 2;
}


.class-owned__wrapper .class-owned {
    position: absolute;
    width: 100%;
    height: auto;
    background: #ffffff;
    z-index: 1;
    border-radius: 0 0 12px 12px;
    overflow: hidden;
    background: white;
    padding: 16px;
    display: none;


}

.class-owned__wrapper .class-owned-overlay {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color:  #1A1A1A80;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    z-index: 1;
}

.class-owned__wrapper .class-owned-selected-overlay {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color:  #1A1A1A80;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    z-index: 1;
}

.class-owned__wrapper .class-owned .class-owned__item {
    position: relative;
    width: 100%;
    height: 110px;
    object-fit: cover;
    border-radius: 12px;
    overflow: hidden;
    margin-top: 14px;
    cursor: pointer;
}
